body{
    background-color: rgba(204, 98, 11, 0.664);
    margin: 0    ;
}  
.cuadrado-titulo{
        background-color: rgba(204, 108, 30, 0.527);
        border: 3px solid;
        padding: 20px;
        text-align: center;
}
.titulo-pagina{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}


/**color del texto de los enlaces**/

.enlaces-internos{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px;
    color: black;
}
.imagen-y-texto{
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}
.cuadro-imagen{
    margin-right: 20 px;
}
.cuadro-imagen img{
    max-width: 300px;
    height: auto;
    display: block;
}
.cuadro-textoimagen{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    }

.textoimagen{
    background-color: rgba(204, 108, 30, 0.527);
    color: rgb(19, 15, 1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
}

.cuadro-suscripcion{
    display: flex;
    align-items: center;
}
.suscripcion{
    margin-right: 20px;
}
#correo-electronico{
    padding: 8px;
    border-radius: 4px;
    margin-right: 10px;
}
#suscribirse-boton{
    padding: 8px;
    background-color: aliceblue;
    color: rgb(2, 7, 7);
    border-radius: 4px;
    cursor: pointer;
}
.volver-al-inicio{
    text-align: center;
    position: relative;
    }
.contenido{
    display: flex;
    justify-content: space-around;
    padding:20px;
}
.columna-1{
    padding: 15px;
    text-align: center;
}
.columna-1 img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.imagenes-pequeñas{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.imagenes-pequeñas img{
    max-width: 48%;
    height: auto;
    margin: 0 5px;
}

p{
    font-size: 16px;
    line-height: 1.5;
}
.titulo-año{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
.nombre-campeon{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

/**NECESITO ENCUADRAR**/

.contenido-estadisticas{
    padding: 20px;
}
.estadisticas-cuadro-1  .estadisticas-cuadro-2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.estadisticas-1  .estadisticas-2{
    border: 1px;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}
.estadisticas-1{
    width: 300px;
}
.estadisticas-2{
    width: 200px;
}
.estadisticas-1 img  .estadisticas-2 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.estadisticas-1 p  .estadisticas-2 p {
    line-height: 1.5;
}
.estadisticas-1 p{
    font-size: 16px;
}
.estadisticas-2 p{
    font-size: 14px;
}